<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINK BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- LINK FONTAWESOME -->
    <script src="https://kit.fontawesome.com/c0073e0e62.js" crossorigin="anonymous"></script>

    <!-- LINK VUE -->
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>

    <!-- LINK CSS -->
    <link rel="stylesheet" href="./src/css/style.css">

    <title>whatsapp web</title>
</head>
<body>

    <!-- BLOCCO DI SFONDO -->
    <div class="background position-relative">
        <div class="green-back w-100"></div>
        <div class="white-back w-100"></div>

        <!-- BLOCCO PRINCIPALE -->
        <div class="container-app position-fixed top-50 start-50 translate-middle bg-white row" id="app">

            <!-- BLOCCO CONTATTI -->
            <div class="list-contact col-5 h-100">

                <!-- sezione profilo -->
                <div class="account d-flex justify-content-between background-grey border-end">

                    <div class="profilo h-100 d-flex align-items-center">
                        <div class="foto-profilo">
                            <img src="avatar-boolzap/avatar_io.jpg" alt="me" class="w-100 h-100 rounded-circle">
                        </div>
                        <span>Sara</span>
                    </div>
                    <div class="impostazioni-utente h-100 d-flex align-items-center">
                        <i class="fa-solid fa-circle-notch color-grey fa-xl"></i>
                        <i class="fa-solid fa-message color-grey fa-xl"></i>
                        <i class="fa-solid fa-ellipsis-vertical color-grey fa-xl"></i>
                    </div>

                </div>

                <!-- sezione notifiche -->
                <div class="notifiche account d-flex align-items-center" style="background-color: rgb(142, 218, 252);">
                    <div class="campana foto-profilo bg-white rounded-circle d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-bell-slash fa-xl" style="color: rgb(142, 218, 252);"></i>
                    </div>
                    <div class="notifiche-txt flex-column justify-content-center">
                        <p class="m-0">Ricevi notifiche di nuovi messaggi</p>
                        <a href="">Attiva notifiche desktop</a>
                    </div>

                </div>

                <!-- RICERCA CONTATTI -->
                <div class="search-contact d-flex align-items-center justify-content-center bg-light">
                    <div class="lente h-100 w-25 d-flex align-items-center justify-content-center bg-white border-end">
                        <i class="fa-solid fa-magnifying-glass color-grey" style="font-size: 1em;"></i>
                    </div>
                    <input type="text" v-model="srcMessage" placeholder=" Cerca o inizia una nuova chat" class="h-100 w-75" @input="selContact">
                </div>

                <!-- ELENCO CONTATTI -->
                <div class="contact-list">
                    <div class="account d-flex align-items-center w-100 border-bottom" v-for="user in srContact" @click="selezionaChat(user.index)">
                        <div class="foto-profilo">
                            <img :src="user.avatar" alt="av1" class="w-100 h-100 rounded-circle">
                        </div>
                        <div class="name-contact d-flex flex-column">
                            <div class="d-flex justify-content-between">
                                <span class="name-bold">{{user.name}}</span>
                                <span class="small-txt">12:00</span>
                            </div>
                            <div>
                                <span class="small-txt">Ultimo messaggio inviato</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BLOCCO CHAT -->
            <div class="block-chat col-7 position-relative h-100">
                <div class="account d-flex justify-content-between w-100 background-grey">
                    <div class="h-100 d-flex align-items-center">
                        <div class="foto-profilo">
                            <img :src="contact[indiceChat].avatar" alt="av1" class="w-100 h-100 rounded-circle">
                        </div>
                        <div class="d-flex flex-column">
                            <span class="name-bold">
                                {{contact[indiceChat].name}}
                            </span>
                            <span class="small-txt">
                                Ultimo accesso oggi alle 12
                            </span>
                        </div>
                    </div>

                    <div class="impostazioni-utente h-100 d-flex align-items-center">
                        <i class="fa-solid fa-magnifying-glass color-grey fa-lg"></i>
                        <i class="fa-solid fa-paperclip color-grey fa-lg"></i>
                        <i class="fa-solid fa-ellipsis-vertical color-grey fa-lg"></i>
                    </div>
                </div>

                <div class="main-chat">
                    <div v-for="sms in contact[indiceChat].messages">

                        <div v-if="sms.status == 'sent' " class="green-message d-flex flex-column align-items-end position-relative">
                            <div class="d-flex flex-wrap">      
                                {{sms.message}}
                                <div class="orario d-flex align-items-end justify-content-end">
                                    <span style="font-size: 0.6em;">12:00</span>
                                </div>
                            </div>
                        </div>

                        <div v-else class="white-message d-flex">
                            <div class="d-flex">
                                {{sms.message}}
                                <div class="orario d-flex align-items-end justify-content-end">
                                    <span style="font-size: 0.6em;">12:00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chat-footer d-flex justify-content-between position-absolute bottom-0 account w-100" style="background-color: rgb(243, 238, 234);">
                    <div class="emoji-mic d-flex align-items-center justify-content-center h-100">
                        <i class="fa-regular fa-face-smile color-grey fa-lg"></i>
                    </div>
                    <div class="tastiera">
                        <input type="text" v-model="myMessage" class="w-100 h-100 bg-white border-0 rounded" placeholder=" Scrivi un messaggio" @keyup.enter="invio(indiceChat)">
                    </div>
                    <div class="emoji-mic d-flex align-items-center justify-content-center h-100">
                        <i class="fa-solid fa-microphone fa-xl color-grey"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- LINK JS -->
    <script type="module" src="./src/controller/script.js"></script>

</body>
</html>