*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */
.color-grey{
    color: rgb(170, 170, 170);
}

.background-grey{
    background-color: rgb(234, 234, 234);
}


.foto-profilo{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}


.background{
    width: 100vw;
    height: 100vh;
}

.green-back{
    background-color: rgb(0, 150, 136);
    height: 20%;
}

.white-back{
    height: 80%;
    background-color: rgb(215, 219, 214);
}

.container-app{
    width: 80%;
    height: 90%;
}

.list-contact{
    padding: 0;

}

.block-chat{
    padding: 0;
}

.account{
    height: 70px!important;
    border-color: rgb(248, 248, 248);
}

.impostazioni-utente{
    margin-right: 10px;
}

.impostazioni-utente > i{
    margin: 0 10px;
}

.notifiche-txt *{
    margin-left: 10px!important;
    font-size: 0.9em;
    font-weight: 500;
}

.lente{
    border-right: 1px solid rgb(251, 251, 251);
}

.search-contact{
    height: 50px;
    padding: 7px;
}

.search-contact > input{
    border: unset;
    outline: unset;
}

.name-contact{
    margin-left: 5px;
    width: 80%;
}

.contact-list > div{
    cursor: pointer;
}

.name-bold{
    margin-left: 5px;
    font-weight: 600;
}

.small-txt{
    margin-left: 5px;
    color: rgb(191, 192, 194);
    font-size: 0.8em;
    font-weight: 400;
}

.contact-list{
    max-height: calc(100% - 190px);
    overflow-y: scroll;
}

/* css chat principale */

.main-chat{
    height: calc(100% - 70px);
    background-image: url('../../other-img/immagine-sfondo.png');
    background-size: contain;
    overflow-y: scroll;
}

.emoji-mic{
    width: 15%;
}

.tastiera{
    width: 70%;
    padding: 5px 0;
}

.tastiera input{
    outline: unset;
}

.green-message > div{
    max-width: 36%;
    background-color: rgb(213, 249, 186);
    margin-right: 7%;
}

.white-message > div{
    margin-left: 7%;
    background-color: white;
    max-width: 36%;
}

.green-message > div, .white-message > div{
    padding: 10px;
    border-radius: 10px;
}

.main-chat > div{
    padding: 10px;
    min-height: 60px;
}

.orario{
    min-width: 40px;
    padding-top: 5px;
}